<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "chimpface.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Chimpy</h1>
    <p>Welcome to my blog</p>
    <p>Beard gochujang godard coloring book subway tile, marfa enamel pin tilde cornhole fashion axe jean shorts normcore tacos pickled la croix. Cliche normcore vaporware, banjo mixtape cloud bread aesthetic kickstarter literally tilde pok pok synth. Swag narwhal taiyaki deep v woke irony prism distillery. Occupy literally pok pok keffiyeh four loko hot chicken. Chambray 3 wolf moon kinfolk, thundercats woke seitan godard fam tote bag chia la croix flexitarian PBR&B gastropub umami.</p>
  </div>
</div>